<header class="header js-sticky" role="banner">
  <div class="header__wrapper">
    <a href="#" class="header__logo">
      {% include pathDirThemeRelative ~ "patterns/atoms/logo/logo.twig" %}
    </a>
  </div>
</header>
