body {
    font: normal 1em/1.4 sans-serif;
    color: #666;
    padding: 0 30px;
}
h1, h2, h3, h4 {
    margin: 0;
}
h2 {
    border-bottom: 1px dotted #ddd;
    margin-top: 60px;
}
a {
    color: inherit;
}
p {
    font-size: 0.9em;
}
iframe {
    resize: both;
    overflow: auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-width: 320px;
    background-color: #fff;
    border: 1px dashed #ddd;
    margin-bottom: 15px;
}
xmp {
    font: normal 1em/1.4 monospace;
    position: relative;
    border:1px dashed #ddd;
    padding: 15px;
}
xmp:before {
    content: 'HTML';
    font-size: 0.7em;
    position: absolute;
    color: #fff;
    background: #bbb;
    top: -18px;
    left: -1px;
    padding: 3px 6px;
    display: inline-block;
    border-radius: 2px 2px 0 0;
}
.header {
    height: 140px;
    padding-left: 250px;
    margin: 0 -30px;
}
.navigation-wrapper {
    padding: 50px 10px 60px 10px;
    border-right: 1px solid #ddd;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
}
.navigation > li {
    padding-bottom: 10px;
}
.navigation > li:last-child {
    padding-bottom: 0;
}
.navigation, .navigation ul {
    list-style: none;
    padding-left: 15px;
}
.navigation a {
    color: inherit;
    text-decoration: none;
}
.navigation ul a:before {
    content: '\02EA';
    font-size: 1.2em;
    position: relative;
    top: -5px;
    padding-right: 5px;
}
.main {
    margin-left: 220px;
}
.top-link {
    text-align: right;
}
.top-link a {
    text-decoration: none;
}
.top-link a:before {
    content: '\2191';
    font-size: 1.2em;
    position: relative;
    top: 0;
    padding-right: 5px;
    text-decoration: none;
}
.color-cube {
    width: 160px;
    height: 160px;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 0;
    text-align: center;
}
.color-cube div {
    background: #fff;
    padding: 3px 6px;
    border-radius: 2px;
    display: inline-block;
    font-size: 0.8em;
}
