
<nav class="navigation-content">
  <div class="navigation-content__stage">
    <ul class="navigation-content__wrapper">
      <li class="navigation-content__item navigation-content__item--headline">
        <h3>[[ Lorem ipsum dolor sit amet: ]]</h3>
      </li>
      <li class="navigation-content__item">
        {% include pathDirThemeRelative ~ "patterns/atoms/icon-multicast-yellow/icon-multicast-yellow.twig" %}
      </li>
      <li class="navigation-content__item">
        {% include pathDirThemeRelative ~ "patterns/atoms/icon-multicast-blue/icon-multicast-blue.twig" %}
      </li>
      <li class="navigation-content__item">
        {% include pathDirThemeRelative ~ "patterns/atoms/icon-multicast-pink/icon-multicast-pink.twig" %}
      </li>
      <li class="navigation-content__item">
        {% include pathDirThemeRelative ~ "patterns/atoms/icon-multicast-green/icon-multicast-green.twig" %}
      </li>
    </ul>
  </div>
  <div class="navigation-content__shadow navigation-content__shadow--left"></div>
  <div class="navigation-content__shadow navigation-content__shadow--right"></div>
</nav>
