<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta name="description" content="{{default description site.description}}">

<title id="title">
  {{site.title}}
</title>

<link rel="stylesheet" href="{{assets}}/css/app.css" media="all" />

