
<section class="section-hero" style="background-image: url({{ pathDirThemeRelative }}images/multicast-hero-bg.jpg);">
  <div class="section-hero__wrapper">
    <div class="section-hero__grid">
      {% embed pathDirThemeRelative ~ "patterns/molecules/columns/columns.twig" with { 'item': item } %}
      {% endembed %}
    </div>
  </div>
</section>
