<a href="#" title="Icon MM" class="icon-multicast-blue">
  <?xml version="1.0" encoding="utf-8"?>
  <svg class="icon-multicast-blue__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
    <g>
      <rect class="icon-multicast-blue__svg__bg" x="2.5" y="2.5" width="135" height="135"/>
    </g>
    <g>
      <path class="icon-multicast-blue__svg__border" d="M135,5v130H5V5H135 M140,0H0v140h140V0L140,0z"/>
    </g>
    <g>
      <path class="icon-multicast-blue__svg__path" d="M47.2,73.1L34.6,57.3h-5.4v26.1h4.3V62.1h0.1l13.4,17l13.5-17h0.1v21.3h4.3V57.3h-5.4L47.2,73.1z
         M104.3,57.3L91.7,73.1L79.2,57.3h-5.4v26.1h4.3V62.1h0.1l13.4,17l13.5-17h0.1v21.3h4.3V57.3H104.3z"/>
    </g>
  </svg>
</a>
