<footer class="footer" role="contentinfo">
  <div class="footer__wrapper">
    <p class="footer__disclaimer">&copy; 2016 Multicast</p>
    {% include pathDirThemeRelative ~ "patterns/molecules/meta-navigation/meta-navigation.twig" %}
  </div>
</footer>
