<a href="#" title="Icon MR" class="icon-multicast-green">
  <?xml version="1.0" encoding="utf-8"?>
  <svg class="icon-multicast-green__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 141 141" enable-background="new 0 0 141 141" xml:space="preserve">
    <g id="Gruppe_2_1_">
      <g id="Rechteck_8">
        <g>
          <rect class="icon-multicast-green__svg__bg" x="2.5" y="2.5" fill-rule="evenodd" clip-rule="evenodd" width="136" height="136"/>
        </g>
        <g>
          <path  class="icon-multicast-green__svg__border" d="M136,5v131H5V5H136 M141,0H0v141h141V0L141,0z"/>
        </g>
      </g>
      <g id="MR">
        <g>
          <path class="icon-multicast-green__svg__path" d="M51.2,74.1L38.6,58.3h-5.4v26.1h4.3V63.1h0.1l13.4,17l13.5-17h0.1v21.3h4.3V58.3h-5.4L51.2,74.1z
             M100.4,74.2c3.9-0.6,6.8-3.1,6.8-7.7c0-5-3.3-8.2-8.8-8.2H77.8v26.1h4.3v-9.9h13.2l7.1,9.9h5L100.4,74.2z M82.1,70.5v-8.3h15.2
            c3.6,0,5.4,1.4,5.4,4.3c0,2.6-1.8,4-5,4H82.1z"/>
        </g>
      </g>
    </g>
  </svg>

</a>
