
<section class="section-text">
  <div class="section-text__grid">
    {% embed pathDirThemeRelative ~ "patterns/molecules/columns/columns.twig" with { 'item': item } %}
    {% endembed %}
  </div>
</section>
