<nav class="meta-navigation">
  <ul class="meta-navigation__wrapper">
    <li class="meta-navigation__item"><a href="#" title="">Kontakt</a></li>
    <li class="meta-navigation__item"><a href="#" title="">Impressum</a></li>
    <li class="meta-navigation__item"><a href="#" title="">Sitemap</a></li>
  </ul>
</nav>
