@mixin icon-multicast-blue($height, $easing) {
  $root: &;
  width: $height;
  height: $height;
  display: inline-block;
  background: $color-black;

  &__svg {

    &__path, &__border {
      fill: $color-blue;
      transition: fill 0.2s;
      pointer-events: none;
    }

    &__bg {
      fill: $color-black;
      transform-origin: $height/2;
      transform: scale(0.5) rotate(-90deg);
      transition: all 0.2s $easing;
      opacity: 0;
    }
  }

  &:hover {

    #{$root}__svg {

      &__path {
        fill: $color-black;
      }

      &__bg {
        fill: $color-blue;
        transform: scale(1) rotate(0);
        opacity: 1;
      }
    }
  }
}

.icon-multicast-blue {
  @include icon-multicast-blue(135px, $global-easing);
}
