<a href="#" title="Icon MP" class="icon-multicast-pink">
  <?xml version="1.0" encoding="utf-8"?>
  <svg class="icon-multicast-pink__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
    <g id="Gruppe_5_1_">
      <g id="Rechteck_7">
        <g>
          <rect class="icon-multicast-pink__svg__bg" x="2.5" y="2.5" width="135" height="135"/>
        </g>
        <g>
          <path class="icon-multicast-pink__svg__border" d="M135,5v130H5V5H135 M140,0H0v140h140V0L140,0z"/>
        </g>
      </g>
      <g id="MP">
        <g>
          <path class="icon-multicast-pink__svg__path" d="M50.2,73.1L37.6,57.3h-5.4v26.1h4.3V62.1h0.1l13.4,17l13.5-17h0.1v21.3h4.3V57.3h-5.4L50.2,73.1z
             M97.5,57.3H76.8v26.1h4.3v-9.9h15.5c6.2,0,9.5-2.8,9.5-8C106.1,60.5,102.8,57.3,97.5,57.3z M96.7,69.5H81.1v-8.3h15.3
            c3.5,0,5.3,1.4,5.3,4.3C101.7,68.1,100,69.5,96.7,69.5z"/>
        </g>
      </g>
    </g>
  </svg>

</a>
